<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/windowLogo.png"/>
        <span id="welcomeHeader">WELCOME TO BATTLEFIELDS</span>
        <span id="welcomeDescription">Battlefields is a battle royale inspired gamemode made entirely in Minecraft where you must collect loot from chests, kill your enemies, and most importantly, survive. Want to join in on the fun? Download the launcher today and join many players in this awesome modded battle royale server.</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from entring the battlefield.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>